# ------ FastAPI & ASGI Server ------

fastapi
uvicorn[standard]


# ------ Authentication & Security ------

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator


# ------ Cloud & File Storage ------

cloudinary


# ------ Database (MongoDB) ------

pymupdf
motor
pymongo
pydantic

# ------ AI Helpers ------

sentence-transformers


# ------ Vector Databases ------

pinecone
pinecone-client
langchain_openai

# ------ HTML & Text Processing ------

beautifulsoup4
lxml


# ------ Image Processing ------

pytesseract
pdf2image
Pillow


# ------ Utilities ------

python-dotenv
requests
httpx