body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Nata Sans', sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

